---
interface Card {
    img:string;
    img_dos:string;
    tittle:string;
    price:number;

}

const{img,img_dos,tittle,price}=Astro.props;
---


<a href="ProductOverbiew" class="group block overflow-hidden rounded-3xl shadow-lg">
  <div class="relative h-[350px] sm:h-[450px]">
    <img src={img}
      alt=""
      class="absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0"
    />

    <img
       src={img_dos}
      alt=""
      class="absolute rounded-4xl inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100"
    />
  </div>

  <div class="relative flex items-center justify-center flex-col bg-[#FEFEF9] pt-3">
    <h3 class="text-2xl text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
      {tittle}
    </h3>

    <p class="mt-1.5 tracking-wide text-3xl font-bold text-gray-900">${price}</p>
  </div>
</a>