---

---

<section class="section md:w-72 w-screen md:h-48 h-40">
    <nav class="flex pl-20 flex-col mt-5">
        <span class="">Category</span>
        <ul class="flex flex-col mt-2 md:text-sm text-xs">
            <li>Header</li>
            <li>Food</li>
            <li>Tree</li>
            <li>frey</li>
        </ul>
    </nav>
</section>


<style>
    section{
        font-family:Arial, Helvetica, sans-serif;
        border: solid 3px black;
        border-bottom: none;
    }
  
    span{
        font-family: sans-serif;
        font-size: larger;
        letter-spacing: 2px;
    }
    
    ul li{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 3px;
            &:hover{
                color: rgb(234, 129, 9);
            }
    }
</style>