<!-- component -->




<html>


<div class="relative flex min-h-96 flex-col">
    <div class="min-h-28">
        <div class="mx-auto py-4">
            <h2 class="text-9xl text-orange-500 uppercase md:ml-11 ml-5 md:font-bold font-black ">
                Buy now
            </h2>

            <div class="gap-6 mt-8 mx-4 md:flex">
                <div class=" md:w-1/2">
                    <div class="  wrap-video  ">
                        <video class=" video object-cover h-96 w-full bg-black" loop="action" autoplay >
                            <source 
                                src="https://assets-global.website-files.com/62d57921074baa1ce7275405/648b6bdb802c1efb403e5be5_ZOOM2-transcode.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                    <span class="pt-4 grid grid-cols-6 gap-4">
                        <span class="col-end-7 col-span-2 text-sm text-slate-500 uppercase font-mono flex justify-end">
                        </span>
                    </span>
                </div>
                <div class="md:w-1/2">
                    <div class="wrap-video">
                        <video class="  video object-cover h-96 w-full bg-black" loop="action" autoplay>
                            <source 
                                src="https://assets-global.website-files.com/62d57921074baa1ce7275405/640fe762f883d05b8f683c6d_HOKABODEGA-transcode.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                    <span class="pt-4 grid grid-cols-6 gap-4">
                        <span class="col-end-7 col-span-2 text-sm text-slate-500 uppercase font-mono flex justify-end">
                            
                        </span>
                    </span>
                    
                </div>
            </div>
        </div>
           
        
</div>



</html>

<style>
    .video{
        border-radius: 20px;
    }
</style>

<script>
    
</script>

