<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <h2 class=" font-bold text-gray-900 sm:text-7xl text-4xl hover:underline">New Collection</h2>
  
        <p class="mx-auto mt-4 max-w-md text-gray-500 md:text-7xl text-5xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque praesentium cumque iure
          dicta incidunt est ipsam, <span class="text-gray-600">officia dolor fugit natus?</span>
        </p>
      </header>
  
      <ul class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
        <li>
          <a href="#" class="group relative block">
            <img
              src="https://images.unsplash.com/photo-1505941625782-5f8710bdd9f3?q=80&w=1747&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="glass"
              class="md:rounded-none rounded-borde aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
            />
  
            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
              <h3 class="text-xl font-medium text-white">Casual Trainers</h3>
  
              <span
                class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
              >
                Shop Now
              </span>
            </div>
          </a>
        </li>
  
        <li>
          <a href="#" class="group relative block">
            <img
              src="https://images.unsplash.com/photo-1610270066297-7b06341d2b8a?q=80&w=1772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="frasco"
              class=" md:rounded-none rounded-borde aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
            />
  
            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
              <h3 class="text-xl font-medium text-white">Winter Jumpers</h3>
  
              <span
                class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
              >
                Shop Now
              </span>
            </div>
          </a>
        </li>
  
        <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
          <a href="#" class="group relative block">
            <img
              src="https://images.unsplash.com/photo-1589824683512-125020ad9f2f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="botle"
              class="md:rounded-none rounded-borde aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
            />
  
            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
              <h3 class="text-xl font-medium text-white">Skinny Jeans Blue</h3>
  
              <span
                class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
              >
                Shop Now
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <style>
    img.giro{
     border-radius: 50% 0% 25% 0;
    }
  </style>

  <script src="../component/script/ValidationS.js">
  
  </script>