---
import Layout from "../layout/Layout.astro"
---

<!-- component -->

<Layout>
<style>@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);</style>
<div class="min-w-screen min-h-screen flex items-center p-5 lg:p-10 overflow-hidden relative rounded-xl">
    <div class="w-full max-w-6xl rounded bg-gray-100 shadow-xl p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left">
        <div class="md:flex items-center -mx-10">
            <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
                <div class=" relative inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0  ">
                    <img src="https://i.pinimg.com/564x/41/d1/96/41d1963b502f9d28e5f87fc8e3d45057.jpg" class="w-full relative z-10 rounded-3xl" alt="">

                    
                    <div class="border-4 border-black absolute top-10 bottom-10 left-10 right-10 z-0"></div>
                </div>
            </div>
            <div class="w-full md:w-1/2 px-10">
                <div class="mb-10">
                    <h1 class="font-bold uppercase md:text-5xl text-4xl mb-5">Glass windows <br>The best art in the world</h1>
                    <p class="md:text-6xl text-5xl">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eos, voluptatum dolorum! Laborum blanditiis consequatur, voluptates, sint enim fugiat saepe, dolor fugit, magnam explicabo eaque quas id quo porro dolorum facilis... </p>
                <div>
                    <div class="inline-block align-bottom mr-5">
                        <span class="text-2xl leading-none align-baseline">$</span>
                        <span class="font-bold text-5xl leading-none align-baseline">59</span>
                        <span class="text-2xl leading-none align-baseline">.99</span>
                    </div>
                    <div class="inline-block align-bottom">
                        <button class=" md:mt-4 mt-7 bg-orange-300 opacity-75 hover:opacity-100 text-yellow-900 hover:text-gray-900 rounded-full px-10 py-2 font-semibold"><i class="mdi mdi-cart -ml-2 mr-2"></i><a  href="Cart" >BUY NOW</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</Layout>